core/src/test/resources/sanity-checks/for_each.yaml
id: for_each
namespace: sanitychecks.core

tasks:
  - id: for_each
    type: io.kestra.plugin.core.flow.Loop
    concurrencyLimit: 1
    values:
      - 1
      - 2
      - 3
    outputs:
      - id: return1
        type: STRING
        value: "{{outputs.return.value}}"
      - id: return2
        type: STRING
        value: "{{outputs.after_if.value ??? 'none'}}"
    tasks:
      - id: return
        type: io.kestra.plugin.core.debug.Return
        format: "{{item.value}}"

      - id: if
        type: io.kestra.plugin.core.flow.If
        condition: '{{ item.value == "2" }}'
        then:
          - id: after_if
            type: io.kestra.plugin.core.debug.Return
            format: "After if {{ item.value }}"

  - id: assert
    type: io.kestra.plugin.core.execution.Assert
    conditions:
      - "{{ outputs.for_each.outputs['1'].return1 == '1' }}"
      - "{{ outputs.for_each.outputs['3'].return1 == '3' }}"
      - "{{ outputs.for_each.outputs['2'].return2 == 'After if 2' }}"